@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #333;
}

header li {
    display: inline;
    float: right;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav {
    display: none;
}

#menu_links {
    display: none;
}

#burger:checked~#menu_links {
    display: block;
    text-decoration: none;
}

#menu_links {
    background-color: rgba(215, 215, 233, 1);
}

#menu_link {
    font-size: 40px;
    text-align: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    header {
        display: none;
    }
    nav {
        display: block;
    }
}