@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 7%, rgba(215, 215, 233, 1) 45%);
    font-family: "Poppins", sans-serif;
}

#conteneur {
    display: flex;
    flex-wrap: wrap;
}

#processing,
#java,
#html-css,
#bash,
#systeme,
#bd,
#gestion {
    text-align: center;
    background-color: #333;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 8%;
    margin-top: 3%;
    color: white;
    width: 20%;
    height: 200px;
    border-radius: 3em;
}


/*Les tailles quand on passe au dessus de mes conteneurs*/

#processing:hover {
    transition: 0.5s;
    height: 280px;
}

#java:hover {
    transition: 0.5s;
    height: 360px;
}

#html-css:hover {
    transition: 0.5s;
    height: 250px;
}

#bash:hover {
    transition: 0.5s;
    height: 290px;
}

#systeme:hover {
    transition: 0.5s;
    height: 260px;
}

#bd:hover {
    transition: 0.5s;
    height: 250px;
}

#gestion:hover {
    transition: 0.5s;
    height: 275px;
}

#processing:hover>.projets-processing,
#java:hover>.projets-java,
#html-css:hover>.projets-html-css,
#bash:hover>.projets-bash,
#systeme:hover>.projets-systeme,
#bd:hover>.projets-bd,
#gestion:hover>.projets-gestion {
    display: block;
}

.projets-processing,
.projets-java,
.projets-html-css,
.projets-bash,
.projets-systeme,
.projets-bd,
.projets-gestion {
    display: none;
}

#processing img,
#java img,
#html-css img,
#bash img,
#systeme img,
#gestion img {
    width: 30%;
}

#bd img {
    width: 50%;
}

#gestion img {
    color: white;
}

#processing p,
#java p,
#html-css p,
#systeme p,
#bd p,
#gestion p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#processing button,
#java button,
#html-css button,
#bd button,
#gestion button {
    margin-top: 5%;
    margin: 20px;
    outline: none;
}

.custom-btn {
    width: 200px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #333;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid white;
}

#java .custom-btn,
#systeme .custom-btn,
#bd .custom-btn {
    width: 225px;
}

#gestion .custom-btn {
    width: 250px;
}

.btn-15 {
    background: #333;
    color: #fff;
    z-index: 1;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
}

.btn-15:hover {
    color: #333;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}

@media (max-width: 500px) {
    #processing img,
    #java img,
    #html-css img,
    #bash img {
        width: 100%;
    }
    #conteneur {
        display: block;
    }
    #processing,
    #java,
    #html-css,
    #bash {
        padding-left: 25%;
        padding-right: 25%;
        margin-left: auto;
        margin-right: auto;
        height: 600px;
    }
    #processing:hover,
    #java:hover,
    #html-css:hover,
    #bash:hover {
        transition: none;
        height: 600px;
    }
    .projets-processing,
    .projets-java,
    .projets-html-css,
    .projets-bash {
        display: block;
    }
}