body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.wrapper-projets {
    width: 90%;
    margin: 0 auto;
}

#part-projets{
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

.cliquez{
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    font-size: 15px;
}

.cliquez:hover ~ .trait-projets{
    width: 35%;
    transition: 1s;
}

.trait-projets {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(255, 255, 255, 1);
    width: 15%;
    transition: 1s;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container>*{
    flex: 1 1 40vh;
}

.container-case {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
}

.container-p {
    font-size: 25px;
    margin: 2vh;
}

.container-explication{
    margin: auto;
}

.container-icon {
    width: 15vh;
    border: 10px solid red;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.container-icon img {
    width: 10vh;
    padding: 2vh;
}

.container-icon img:hover {
    width: 10vh;
    padding: 2vh;
}

.container-icon:hover {
    background-color: red;
    transition: 0.5s;
    border: 10px solid rgb(246, 112, 112);
}