@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    /*background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 7%, rgba(215, 215, 233, 1) 45%);*/
    background-color: black;
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.deux-conteneurs {
    display: flex;
    margin-top: 5%;
    background-image: url('img/background-black2.jpg');
    background-size: cover;
    padding-bottom: 3%;
    min-height: 80vh;
}

#premier {
    flex: 1;
    margin-left: 5%;
    width: 100%;
    border-radius: 50px;
    height: 550px;
    background-color: #333;
    color: white;
}

#premier img {
    width: 150px;
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10em;
}

#premier h2 {
    text-align: center;
}

#trait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(255, 255, 255, 1);
    width: 45%;
}

#second {
    flex: 1;
    margin-left: 5%;
    margin-right: 15%;
}

.gros {
    font-size: 100px;
}

#second ul,
#premier ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

.saut {
    margin-top: 18px;
}

#second li a,
#premier li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgba(215, 215, 233, 1);
    border: 0.5px solid black;
    border-radius: 15px;
}

#second li a:hover {
    background: none;
    color: rgb(224, 219, 219);
}

#premier li a:hover {
    background-color: #333;
    color: rgb(224, 219, 219);
    border: 0.5px solid black;
}


.mentions {
    float: right;
    margin-top: 3%;
    color: rgba(255, 255, 255, 0.774);
}

.qui-suisje {
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.774);
}

#second-titre {
    color: rgba(255, 255, 255, 0.774);
    overflow: hidden;
    border-right: .15em solid #333;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

.competences {
    padding-top: 3%;
    background-color: white;
}

.progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    width: 100%;
}

.progressbar {
    background-color: grey;
    color: white;
    padding: 1rem;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.progressbar[title="html"],
.progressbar[title="java"],
.progressbar[title="python"],
.progressbar[title="canva"],
.progressbar[title="sony"],
.progressbar[title="php"],
.progressbar[title="csharp"],
.progressbar[title="sql"],
.progressbar[title="phpmyadmin"],
.progressbar[title="js"] {
    background-color: red;
}

.html {
    width: 70%;
}

.php {
    width: 30%;
}

.js {
    width: 15%;
}

.java {
    width: 80%;
}

.python {
    width: 45%;
}

.sql {
    width: 85%;
}

.phpmyadmin {
    width: 25%;
}

.csharp {
    width: 40%;
}

.canva {
    width: 90%;
}

.sony {
    width: 20%;
}

.competences h1 {
    color: #333;
    text-align: center;
    text-decoration: underline;
}

.competences h2 {
    text-decoration: underline;
}

.competences-part1,
.competences-part2 {
    display: flex;
}

.competences-dev-sites,
.competences-dev-objet,
.competences-bd,
.competences-montage {
    flex: 1;
}

#comp-dev-sites,
#comp-dev-objet,
#comp-bd,
#comp-montage {
    margin: 30px;
    padding: 20px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.774);
    border-radius: 25px;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #333;
    }
}

#second-titre2 {
    text-align: center;
    font-size: 45px;
    padding-left: 90px;
    padding-right: 90px;
    display: none;
    color: rgba(255, 255, 255, 0.774);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .deux-conteneurs {
        display: block;
    }

    #premier {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        min-height: 35vh;
        margin-top: 15%;
    }

    #premier img {
        
    }

    #premier h2 {
        text-align: center;
        font-size: 50px;
    }

    .saut {
        margin-top: 50px;
    }

    #second {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    #premier ul {
        margin-top: 10%;
    }

    #second ul {
        margin-top: 10%;
    }

    .gros {
        font-size: 80px;
    }

    #second-titre {
        display: none;
    }

    #second-titre2 {
        display: block;
    }

    #second li a,
    #premier li a {
        height: 50px;
        font-size: 30px;
    }

    .qui-suisje {
        padding-left: 90px;
        padding-right: 90px;
        margin-top: 0%;
    }

}